# MATLAB temp
**/*.asv

# Results
**/results/

# Large datasets
databases/**/*.mat
databases/**/*.zip

# Also ignore extracted archives
databases/**/pme-benchmark-*/

# BUT keep small test data
!tests/data/*.mat
